body {
  font-size: 16px;
  font-family: "black Times New Roman", Serif;
  background: #f3f3f3;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 371px;
  left: 39px;
  top: 40px;
  background: #1e2939;
}

.zdjecie-cv {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

.list-secondary {
  color: #fb6d3a;
  font-size: 16px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  color: white;
}

.contact-block {
  margin-top: 30px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 35px;
  margin-left: 45px;
}

.soft-skills-block {
  margin-top: 35px;
  margin-left: 40px;
}

.languages-block {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
}

main {
  padding: 90px 60px 90px 60px;
}

.main-description {
  width: 400px;
}

.job-title {
  font-weight: 700px;
  font-size: 16px;
  line-height: 17px;
}

h1 {
  font-weight: 700px;
  font-size: 46px;
  line-height: 55px;
}

.description {
  color: #595959;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.projects {
  width: 100%;
  margin-bottom: 51px;
}

.list-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}

.list-primary-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.header-primary {
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 12px;
}

job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #a8a8a8;
}

.job-list {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  list-style-type: disc;
}
